<!DOCTYPE html>
<html>
	<head>
		<% include partials/template/head.ejs %>
	</head>

	<body>
		<% include partials/template/nav.ejs %>
		<div class="col-md-8 col-md-offset-2">
			<h1><%= title %></h1>
			<form name="employer-login" method="post" action="/employers">
				<label for="username">Username</label>
				<input type="text" name="username" placeholder="Username" required>
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>

			<h2>Debug: Employer Registration</h2>
			<form name="employer-registration" method="post" action="/employers/register">
				<label for="companyName">Company Name</label>
				<input type="text" name="companyName" placeholder="Company Name" required>
				<label for="username">Username</label>
				<input type="text" name="username" placeholder="Username" required>
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>
	</body>
</html>