<!DOCTYPE html>
<html>
	<head>
		<% include partials/template/head.ejs %>
		<!-- JSX Stuff -->
		<script src="/components/react/react-with-addons.min.js"></script>
		<script src="/components/react/JSXTransformer.js"></script>
	</head>
	<body>
		<h1><%= title %></h1>
		<div id="employer-dashboard"></div>

		<script src="/javascripts/employer-form.js"></script>
		<!-- React -->
		<script type="text/jsx" src="/javascripts/employer-view.jsx"></script>
	</body>
</html>