<!DOCTYPE html>
<html>
	<head>
		<% include partials/template/head.ejs %>
	</head>

	<body>
		<% include partials/template/nav.ejs %>
		<div class="col-md-8 col-md-offset-2">
			<h1><%= title %></h1>
			<form name="employer-login" method="post" action="/employers">
				<label for="username">Username</label>
				<input type="text" name="username" placeholder="Username" required>
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>
	</body>
</html>