<!DOCTYPE html>
<html>
	<head>
		<% include partials/template/head.ejs %>
	</head>
	<body>
		<% include partials/template/nav.ejs %>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 center-text">
				<h1><%= title %></h1>
				<p>Welcome to the <%= title %></p>
				<div>
					<a href="/employers"> For Employers</a>
					<a href="/students"> For Students </a>
					<% if (user) { %>
						<p>Company name: <%= user.company_name %></p>
						<p>Username: <%= user.username %></p>
						<form name="logout" method="post" action="/employers/logout">
							<input name="logoutbtn" type="submit" value="Log out">
						</form>
					<% } %>
				</div>
			</div>
		</div>
	</body>
</html>
