<!DOCTYPE html>
<html>
	<head>
		<% include partials/template/head.ejs %>
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<div>
			<a href="/employers"> For Employers</a>
			<a href="/students"> For Students </a>
			<% if (user) { %>
				<p>Company name: <%= user.company_name %></p>
				<p>Username: <%= user.username %></p>
				<form name="logout" method="post" action="/employers/logout">
					<input name="logoutbtn" type="submit" value="Log out">
				</form>
			<% } %>
		</div>
	</body>
</html>
