<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Founders Resume Book</title>
    <meta name="description" content="Simple css">

<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="author" content="Illinois Founders">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./TACHYONS - css Toolkit_files/tachyons.min.css">
<style>
  .blue { color: #0074D9; }
  .bg-blue { background-color: #0074D9; }

  .carbon-poweredby { width: 100%; font-size: 12px; float: left; }
  .carbon-wrap { float: left; width: 100%; box-sizing: border-box; }
  .carbon-img  { float: left; width: 50%;  box-sizing: border-box; }
  .carbon-text  { float: left; width: 50%; padding-left: 16px; box-sizing: border-box; font-size: 12px; }

  #carbonads a:link { text-decoration: none!important; color: #222!important; }

  .dib {
    margin-left: 5px;
  }

</style>

		<% include partials/template/nav.ejs %>

  <link rel="stylesheet" href="blob:http://tachyons.io/4c78a1ba-77f7-4a64-b146-f35002c18eaf"><link rel="stylesheet" href="blob:http://tachyons.io/33835148-6bdb-46f2-b22a-f0da5e1ae136"></head>
  <body class="w-100 sans-serif" cz-shortcut-listen="true">

    <main class="w-100 bt b--black-10 bg-white">
      <section class="bg-black-0125 w-100">
        <article class="pb4 pb5-ns">
          <div class="ph3 ph5-ns">
            <div class="cf mw9 center tc-m">
                <div class="pb3 pb4-ns pt4 pt5-ns mt4 black-70 fl-l w-50-l">
                  <h1 class="f4 fw6 f1-ns lh-title measure mt0">
                    Welcome to the Founders Resume Book!
                  </h1>
                  <p class="f5 f4-ns fw4 b measure dib-m lh-copy">
                    Get access to the top engineering talent from the University of Illinois.
                  </p>
                  <p class="measure f5 f4-ns lh-copy dn">
                    Modules can be altered, extended, or changed to meet your design needs.
                    You shouldn't need to write css everytime you want to build a new
                    ui component. By learning the composable building blocks in tachyons, you
                    can quickly start to build out interfaces while writing little to no css.
                  </p>
                </div>
                <div class="fl-l w-50-l tl tc-ns pt3 pt4-m pt6-l">
                  <a class="f6 f5-ns fw6 dib ba b--black-20 bg-blue white ph3 ph4-ns pv2 pv3-ns br2 grow no-underline" href="mailto:team@founders.illinois.edu?subject=We'd like to purchase access to the Resume Book!">
                    Request a login
                  </a>
                </div>
              </div>
            </div>
          </article>
          <div class="tl bt b--black-10 pa3 pa5-ns bg-lightest-blue navy" id="principles">
            <div class="mw9 center">
              <h1 class="f5 ttu tracked fw6">About</h1>
              <section class="lh-copy">
                <div class="cf">
                  <article class="fl pv2 w-100 w-third-l pr4-l">
                    <h2 class="f5 f4-ns fw6 mb0">Access to Top  talent</h2>
                    <p class="f6 f5-ns measure lh-copy mt0">
                      UIUC is a Top 5 computer science and electrical/computer engineering school with thousands of talented, entrepeneurial-minded students.
                      We have over 4000 undergraduate and graduate (MS, PhD) students in CS/ECE.
                    </p>
                  </article>
                  <article class="pv2 fl w-100 w-third-l ph3-l">
                    <h2 class="f5 f4-ns fw6 mb0">Subscription-based</h2>
                    <p class="f6 f5-ns measure lh-copy mt0">
                      Purchasing a subscription to the UIUC resume book costs $400 and gives you access for one calendar year.<br><br>
                      We have students from a variety of backgrounds, years, and majors including: Computer Science, Electrical/Computer Engineering,
                      Mechanical Engineering, Industrial Design, Mathematics, and more!
                    </p>
                  </article>
                  <article class="pv2 fl w-100 w-third-l pl4-l">
                    <h2 class="f5 f4-ns  fw6 mb0">
                      Help Support the UIUC Startup Ecosystem
                    </h2>
                    <p class="f6 f5-ns measure lh-copy mt0">
                      All proceeds go towards running student entrepreneurship events on campus.<br><br> We help run initiatives such as 54.io, Startup Bootcamp,
                      and Microgrants. We also host a startup career fair every semester - please <a class="black dim" href="mailto:team@founders.illinois.edu">contact us by email</a> for more information.
                    </p>
                  </article>
</div>
              </section>
            </div>
          </div>

      </section>
    </section>
      <section class="bg-white black-70 bt b--black-10">
        <div class="ph3 ph5-ns pt6">
          <div class="mw9 center">
            <h3 class="f6 fw6 mt0 mb4 tc ttu tracked">Previously at our career fairs</h3>
            <div class="dt dt--fixed mw6 mw7-l center">
              <div class="dtc pa2 pa3-l"><img class="br2 db w-100" src="./TACHYONS - css Toolkit_files/databricks.png"></div>
              <div class="dtc pa2 pa3-l"><img class="br2 db w-100" src="./TACHYONS - css Toolkit_files/factual.png"></div>
              <div class="dtc pa2 pa3-l"><img class="br2 db w-100" src="./TACHYONS - css Toolkit_files/civisanalytics.png"></div>
              <div class="dtc pa2 pa3-l"><img class="br2 db w-100" src="./TACHYONS - css Toolkit_files/gigster.png"></div>
              <div class="dtc pa2 pa3-l"><img class="br2 db w-100" src="./TACHYONS - css Toolkit_files/nylas.png"></div>
              <div class="dtc pa2 pa3-l"><img class="br2 db w-100" src="./TACHYONS - css Toolkit_files/a16z.png"></div>
              <div class="dtc pa2 pa3-l"><img class="br2 db w-100" src="./TACHYONS - css Toolkit_files/wish.png"></div>
            </div>
            <div class="dt dt--fixed mw6 mw7-l center">
              <div class="dtc pa2 pa3-l"><img class="br2 db w-100" src="./TACHYONS - css Toolkit_files/avant.png"></div>
              <div class="dtc pa2 pa3-l"><img class="br2 db w-100" src="./TACHYONS - css Toolkit_files/cloudflare.png"></div>
              <div class="dtc pa2 pa3-l"><img class="br2 db w-100" src="./TACHYONS - css Toolkit_files/qualtrics.png"></div>
              <div class="dtc pa2 pa3-l"><img class="br2 db w-100" src="./TACHYONS - css Toolkit_files/sproutsocial.png"></div>
              <div class="dtc pa2 pa3-l"><img class="br2 db w-100" src="./TACHYONS - css Toolkit_files/rithmio.png"></div>
              <div class="dtc pa2 pa3-l"><img class="br2 db w-100" src="./TACHYONS - css Toolkit_files/flexport.png"></div>
              <div class="dtc pa2 pa3-l"><img class="br2 db w-100" src="./TACHYONS - css Toolkit_files/altiscale.png"></div>
            </div>
          </div>
        </div>
      </section>
  </main>
  <% include partials/template/footer.ejs %>
