<footer class="bg-white black-70 ph3 ph5-ns pv5 pv6-ns bt b--black-10">
<div class="mw9 center">
<div class="mb5">
  <a class="black-70 link dim b dib mr3" href="/" title="Home">
    Home
  </a>
  <a class="black-70 link dim b dib mr3" href="/students" title="Student Resume Drop">
    Student Resume Drop
  </a>
  <a class="black-70 link dim b dib mr3" href="/employers" title="Employer Login">
    Employer Login
  </a>
</div>
<div class="mt4">
  <a class="ba black-70 no-underline grow br2 b dib mr3 mb3 pv2 ph3" href="https://twitter.com/ilfounders" title="Follow us on Twitter">
    Follow us on Twitter
  </a>
  <a class="ba black-70 no-underline grow br2 b dib mr3 mb3 pv2 ph3" href="mailto:team@founders.illinois.edu" title="Join our Slack Channel">
    Contact us
  </a>
</div>
<p class="f6 measure copy lh-copy">
  Founders is the new student entrepreneurship organization at the University of Illinois. In past years, entrepreneurial efforts on campus have been disconnected and scattered. Founders unifies the lost organizations across campus. We have strong ties with the Technology Entrepreneur Center to ensure a cohesive entrepreneurial experience.<br>
  <br>
  We want our members to succeed. In order for that to happen, we must have a strong culture and environment that educates, inspires, and motivates the right people forward. We are interdisciplinary, open minded, and innovative.<br>
  <br>
  Everything we do is for a purpose and everything we do affects our lives and the lives of others. We will build recognition for the Illinois entrepreneurship community. We will build the foundation for innovation.
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55773803-1', 'auto');
ga('send', 'pageview');

</script>
