<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/components/font-awesome/css/font-awesome.min.css' />
<!-- Javascripts -->
<script src="/components/jquery/dist/jquery.min.js"></script>