<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/components/font-awesome/css/font-awesome.min.css' />
<link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.css'>
<link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.3/css/tachyons.min.css"/>

<!-- Javascripts -->
<script src="/components/jquery/dist/jquery.min.js"></script>
